# DuckBot Config Settings
# =====================================================================================================
# token: The token used by the bot when connecting to the discord api
# cogs: The list of cogs to be loaded
# prefix: The command prefix which the bot will use

[DuckBot]
token = "Insert Token Here"
cogs = ["cogs.commands.reaction_roles_command", "cogs.events.reaction_event", "cogs.commands.ping_command"]
prefix = "!db"

# addReactionRoles: The roles which can use the add reaction roles command. Each role is represented by the role id
[Permissions]
addReactionRoles=[]

# reactionThreshold: The minimum number of reactions needed to add a message to the starboard
# starboardEmoji: The reaction used for starboard emoji's
# starboardChannelId: The channel were starboard messages should be sent
[Starboard]
reactionThreshold = 5
starboardEmoji = "⭐"
starboardChannelId = # Some discord channel id